# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# kube
*.yml

# Mac
.DS_Store

# Maven
log/
log/**
target/
db/
db/**

src/main/resources/public/
src/main/resources/public/**
reports/
reports/**


